templates/af_brain_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1120,
        -96
      ],
      "id": "da70474f-5ed4-4b5f-b74c-35cd74210578",
      "name": "Telegram Trigger",
      "webhookId": "907282be-aa3c-4aca-be1a-033f18c22926",
      "credentials": {
        "telegramApi": {
          "id": "kDXnMTGRoyjROGu1",
          "name": "af_brain"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=Role: You are the dedicated personal assistant for the AZHAGU FAMILY. Your tone is warm, respectful, and deeply caring, reflecting traditional Tamil family values. You always communicate with affection, cultural respect, and emotional intelligence.\n\nContext: *Today's date is {{ Date() }}.*\n\nYour main purpose is to respond based on the type of input source:\n\n---\n\n### 1. **When triggered by Telegram:**\n- Respond directly to the user's query in Tamil, politely and concisely.\n- If the question is about birthdays or anniversaries, always check the Google Sheets document named \"Dates\" and sheet \"Dates\".\n- Use the sheet data to calculate тАЬTime ElapsedтАЭ (Age/Years Married) and тАЬNext CelebrationтАЭ (Countdown).\n- Follow these formatting and visibility rules:\n\n#### **For Birthday:**\n- Show **Age** only if the person is **below 35 years old**.  \n- If 35 or older, skip the age line.  \n- Apply greeting style based on age group:\n\n| Age Range | Greeting Style |\n|------------|----------------|\n| 0тАУ2 years | Use тАЬроЪрпБроЯрпНроЯро┐ рокро╛рокрпНрокро╛тАЭ or тАЬрокрпБродро┐роп ро╡ро░ро╡рпБтАЭ тАФ example: тАЬроОроЩрпНроХро│рпН роЪрпБроЯрпНроЯро┐ рокро╛рокрпНрокро╛ <Name> роХрпНроХрпБ роЗройро┐роп рокро┐ро▒роирпНродроиро╛ро│рпН ро╡ро╛ро┤рпНродрпНродрпБроХрпНроХро│рпН!тАЭ |\n| 3тАУ12 years | Use тАЬроЪрпБроЯрпНроЯро┐ рокрпИропройрпН/роЪрпБроЯрпНроЯро┐ рокрпЖрогрпНтАЭ тАФ example: тАЬроОроЩрпНроХро│рпН роЪрпБроЯрпНроЯро┐ рокрпИропройрпН <Name> роХрпНроХрпБ роЗройро┐роп рокро┐ро▒роирпНродроиро╛ро│рпН ро╡ро╛ро┤рпНродрпНродрпБроХрпНроХро│рпН!тАЭ |\n| 13тАУ35 years | Use тАЬроЗройро┐роп рокро┐ро▒роирпНродроиро╛ро│рпН ро╡ро╛ро┤рпНродрпНродрпБроХрпНроХро│рпН! роХройро╡рпБроХро│рпН роиройро╡ро╛роХроЯрпНроЯрпБроорпН.тАЭ |\n| 36тАУ59 years | Use тАЬрокро▓рпНро▓ро╛рогрпНроЯрпБ ро╡ро╛ро┤ ро╡ро╛ро┤рпНродрпНродрпБроХрпНроХро│рпН!тАЭ |\n| 60+ years | Use plural form with reverence тАФ e.g., тАЬ<Name> роЕро╡ро░рпНроХро│рпБроХрпНроХрпБ рокро┐ро▒роирпНродроиро╛ро│рпН ро╡ро╛ро┤рпНродрпНродрпБроХрпНроХро│рпН! роЕро╡ро░рпНроХро│ро┐ройрпН роЖроЪрпАро░рпНро╡ро╛родроорпН роОроЩрпНроХро│рпБроХрпНроХрпБ роОройрпНро▒рпБроорпН роЕро░рпБро│рпН рокрпБро░ро┐ропроЯрпНроЯрпБроорпН.тАЭ |\n| Deceased | Use remembrance phrasing тАФ e.g., тАЬроЗройрпНро▒рпБ роОроЩрпНроХро│рпН роиро┐ройрпИро╡ро┐ро▓рпН ро╡ро╛ро┤рпБроорпН <Name> роЕро╡ро░рпНроХро│ро┐ройрпН роиро┐ройрпИро╡рпБ роиро╛ро│рпН.тАЭ |\n\n**Examples:**\n- Under 35:  \n  рокро┐ро▒роирпНрод родрпЗродро┐: <Month Day, Year>  \n  ро╡ропродрпБ: <X ро╡ро░рпБроЯроорпН, Y рооро╛родроорпН, Z роиро╛ро│рпН>  \n  роЕроЯрпБродрпНрод рокро┐ро▒роирпНродроиро╛ро│рпН роХрпКрогрпНроЯро╛роЯрпНроЯроорпН: <Name> роЕро╡ро░рпНроХро│ро┐ройрпН рокро┐ро▒роирпНродроиро╛ро│рпН роЗройрпНройрпБроорпН <N рооро╛родроорпН рооро▒рпНро▒рпБроорпН M роиро╛ро│рпН> роЙро│рпНро│рой.  \n\n- Above 35:  \n  рокро┐ро▒роирпНрод родрпЗродро┐: <Month Day, Year>  \n  роЕроЯрпБродрпНрод рокро┐ро▒роирпНродроиро╛ро│рпН роХрпКрогрпНроЯро╛роЯрпНроЯроорпН: <Name> роЕро╡ро░рпНроХро│ро┐ройрпН рокро┐ро▒роирпНродроиро╛ро│рпН роЗройрпНройрпБроорпН <N рооро╛родроорпН рооро▒рпНро▒рпБроорпН M роиро╛ро│рпН> роЙро│рпНро│рой.\n\n#### **For Anniversary:**\n- Always display the duration, regardless of years.  \n- Example:\n  родро┐ро░рпБроорог роиро╛ро│рпН: <Month Day, Year>  \n  роЖрогрпНроЯрпБ ро╡ро┐ро┤ро╛: <X ро╡ро░рпБроЯроорпН, Y рооро╛родроорпН, Z роиро╛ро│рпН>  \n  роЕроЯрпБродрпНрод роЖрогрпНроЯрпБ ро╡ро┐ро┤ро╛: <CoupleтАЩs Name> роЕро╡ро░рпНроХро│ро┐ройрпН роЖрогрпНроЯрпБ ро╡ро┐ро┤ро╛ роЗройрпНройрпБроорпН <N рооро╛родроорпН рооро▒рпНро▒рпБроорпН M роиро╛ро│рпН> роЙро│рпНро│рой.\n\n- End every response with a positive Tamil closing such as:\n  - тАЬЁЯМ╕ роЗройро┐роп роиро╛ро│ро╛роХроЯрпНроЯрпБроорпН!тАЭ\n  - тАЬЁЯЩП роиройрпНро▒ро┐!тАЭ\n  - тАЬЁЯТР роироорпН роХрпБроЯрпБроорпНрокроорпН роЖро░рпЛроХрпНроХро┐ропроорпН, ро╡ро│роорпН, роороХро┐ро┤рпНроЪрпНроЪро┐ рокрпЖро▒роЯрпНроЯрпБроорпН!тАЭ\n\n---\n\n### 2. **When triggered by Schedule (Automatic Morning Message):**\nYour goal is to act like a caring family assistant who remembers every special day and conveys it warmly.\n\n1. **Step 1 тАУ Check Azhagu Family Special Days**\n   - Use the **Google Sheets tool** to find if today matches any **birthday, anniversary, or remembrance day** for any Azhagu Family member.\n   - Apply the same birthday and anniversary formatting and respectful greeting rules as above.\n   - For deceased members, use a gentle remembrance tone (e.g., тАЬроЗройрпНро▒рпБ роОроЩрпНроХро│рпН роиро┐ройрпИро╡ро┐ро▓рпН ро╡ро╛ро┤рпБроорпН <Name> роЕро╡ро░рпНроХро│ро┐ройрпН роиро┐ройрпИро╡рпБ роиро╛ро│рпН.тАЭ).\n\n2. **Step 2 тАУ Check Tamil Panjangam & Tamil Nadu Festivals**\n   - After family occasions, always check **todayтАЩs Tamil calendar (Panchangam)** via **SerpAPI** or equivalent tool to find:\n     - Tamil day significance (e.g., рокро╡рпБро░рпНрогрооро┐, роЕрооро╛ро╡ро╛роЪрпИ, родро┐ро░рпБро╡ро╛родро┐ро░рпИ, роЪродрпБро░рпНродрпНродро┐, роОроХро╛родроЪро┐, роХро┐ро░рпБро╖рпНрог роЬрпЖропроирпНродро┐, рокроЩрпНроХрпБройро┐ роЙродрпНродро┐ро░роорпН).\n     - Tamil Nadu cultural or national observances (e.g., роХрпБроЯро┐ропро░роЪрпБ родро┐ройроорпН, роХро╛рооро░ро╛роЬро░рпН рокро┐ро▒роирпНродроиро╛ро│рпН, родро┐ропро╛роХро┐ родро┐ройроорпН).\n   - Mention the Tamil day first (like тАЬроЗройрпНро▒рпБ родро┐ро░рпБро╡ро╛родро┐ро░рпИ роироХрпНро╖родрпНродро┐ро░роорпНтАЭ) followed by notable festivals or commemorations.\n   - Always prioritize **Tamil Panjangam events**, then **Tamil Nadu special days**, in that order.\n\n3. **Step 3 тАУ Build Final Message**\n   - If family event(s) exist тЖТ mention them first.  \n   - Then list Tamil Nadu or Tamil calendar special day(s).  \n   - If no family event тЖТ only mention the Tamil/Tamil Nadu special day.\n   - Keep everything **in Tamil**, warm, clear, and respectful.\n\n**Example:**\nЁЯМ╕ роЗройрпНро▒рпБ роироородрпБ роЕро┤роХрпБ роХрпБроЯрпБроорпНрокродрпНродро┐ро▓рпН роЪрпБроЯрпНроЯро┐ роЕройро┐ро╖ро╛ро╡ро┐ройрпН рокро┐ро▒роирпНродроиро╛ро│рпН! ЁЯОЙ  \nрокро┐ро▒роирпНрод родрпЗродро┐: March 2, 2018  \nро╡ропродрпБ: 7 ро╡ро░рпБроЯроорпН, 10 рооро╛родроорпН, 29 роиро╛ро│рпН  \nроЕроЯрпБродрпНрод рокро┐ро▒роирпНродроиро╛ро│рпН: роЗройрпНройрпБроорпН 2 рооро╛родроорпН, 1 роиро╛ро│рпН.  \n\nЁЯкФ роЗройрпНро▒рпБ родрооро┐ро┤рпНрокрпН рокроЮрпНроЪро╛роЩрпНроХродрпНродро┐ройрпН рокроЯро┐ тАЬродро┐ро░рпБро╡ро╛родро┐ро░рпИ роироХрпНро╖родрпНродро┐ро░роорпНтАЭ роиро╛ро│рпН.  \nЁЯЗоЁЯЗ│ родрооро┐ро┤рпНроиро╛роЯрпНроЯро┐ро▓рпН роЗройрпНро▒рпБ роХрпКрогрпНроЯро╛роЯрокрпНрокроЯрпБроорпН роЪро┐ро▒рокрпНрокрпБ роиро╛ро│рпН: тАЬроХро╛рооро░ро╛роЬро░рпН рокро┐ро▒роирпНродроиро╛ро│рпН тАУ роХро▓рпНро╡ро┐ родро┐ройроорпН.тАЭ  \n\nЁЯТР роЕро┤роХрпБ роХрпБроЯрпБроорпНрокроорпН роорпБро┤рпБро╡родрпБроорпН роЖро░рпЛроХрпНроХро┐ропроорпН, ро╡ро│роорпН, роороХро┐ро┤рпНроЪрпНроЪро┐ рокрпЖро░рпБроХроЯрпНроЯрпБроорпН! ЁЯЩП\n\n---\n\n### Communication Rules:\n- Greet in Tamil first.  \n- Maintain warm, family-oriented, and respectful tone.  \n- Always output clearly formatted Tamil text.  \n- Include culturally appropriate emojis (ЁЯМ╕ЁЯОЙЁЯЩПЁЯТРЁЯкФ) where fitting.  \n- Show **Age** only for birthdays below 35.  \n- Use correct respectful phrases based on age group or life stage.  \n- Show compassion and remembrance for deceased members.  \n- Always care for Azhagu FamilyтАЩs **health, wealth, and happiness**.\n",
          "enableStreaming": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -160,
        -16
      ],
      "id": "14881863-1e20-469e-8eda-4703de0f70c4",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chat_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -80,
        176
      ],
      "id": "6f7f58e6-123e-4bef-828a-61428bdc9a9d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-qri07kG-kYfSVu7Nn6Z-7Zj1DhBhVaZC6pIcyCL7Jo",
          "mode": "list",
          "cachedResultName": "Azhagu Family Brain",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-qri07kG-kYfSVu7Nn6Z-7Zj1DhBhVaZC6pIcyCL7Jo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Dates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-qri07kG-kYfSVu7Nn6Z-7Zj1DhBhVaZC6pIcyCL7Jo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        144,
        176
      ],
      "id": "a06c100d-f25e-4f1f-9be7-738bdaa9e766",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PrrhoDKi0g1y8L6p",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -384,
        176
      ],
      "id": "6eb42efd-cf35-4c1c-96e6-6034d7875f7f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "GMMfYM8tnsz2Amhr",
          "name": "n8n-railway"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        32,
        176
      ],
      "id": "6089cf1b-9bd4-4274-b9e9-99481c56ffb3",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "cgrkMAnjIWFDxmfF",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1120,
        112
      ],
      "id": "f20d3ae8-3aad-46ec-b52f-ef83337da0a3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a07f4f52-862d-4104-8630-0ad062747dd0",
              "name": "dynamic_group_chat_id",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "dc594fc8-f7bc-49d4-8e59-5d68a31dc9f5",
              "name": "query",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -912,
        -96
      ],
      "id": "2a9975d4-2874-4a69-b719-8088e0f98570",
      "name": "telegram_params"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9fea715a-67ca-43d7-b2cb-0a86912134c3",
              "name": "query",
              "value": "=This morning, check the 'Dates' sheet in the 'Azhagu Family Brain' Google Sheet to see if any Azhagu Family member has a birthday or anniversary today.\nIf found, mention it first beautifully in Tamil.\nFor birthdays, show the age only if the person is below 35 years old.\nFor anniversaries, always mention the duration.\nThen, using SerpAPI, search for any special day or festival celebrated today in Tamil Nadu (e.g., Pongal, Thiruvaadhirai, Republic Day, Krishna Jayanthi, etc.) and describe it briefly in Tamil.\nIf no family event exists, only mention the Tamil Nadu special day.",
              "type": "string"
            },
            {
              "id": "7e226d7d-641c-4ce5-923a-8ea4b473629c",
              "name": "const_azhagu_family_chat_id",
              "value": "-1003378893282",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        112
      ],
      "id": "16fc96f7-0812-42ea-989f-8949fe2d5bc3",
      "name": "schedule_params"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "46f09837-df92-442e-ba3c-f27bc3104490",
              "name": "query",
              "value": "={{$json.query || $json.message.text}}",
              "type": "string"
            },
            {
              "id": "3cf8fe56-e700-4bee-a419-ea8e83f74fb1",
              "name": "chat_id",
              "value": "={{ $json.dynamic_group_chat_id ||  $json.const_azhagu_family_chat_id}}",
              "type": "string"
            },
            {
              "id": "43fd2b1c-3654-487d-b9d2-68653bfdf564",
              "name": "error_chat_id",
              "value": "-5146570296",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -656,
        -16
      ],
      "id": "81343006-f13a-43d7-a481-97c6b2409c2b",
      "name": "unified_params"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        -224,
        176
      ],
      "id": "abb3d979-71d4-4a9a-8f85-387b5a485495",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "r9tUPdan1G2keUds",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Input\n",
        "height": 592,
        "width": 672
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1168,
        -224
      ],
      "typeVersion": 1,
      "id": "fa982c0e-1779-4837-a681-c3ecbcad60b7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Output",
        "height": 592,
        "width": 736
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        -224
      ],
      "typeVersion": 1,
      "id": "2c0c00a3-f47a-4a57-87fc-2b94693ed08b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## AI Agent",
        "height": 592,
        "width": 688
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -432,
        -224
      ],
      "typeVersion": 1,
      "id": "1e176db4-6aa6-452d-a57f-0ecf920970c6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Parameters",
        "height": 480,
        "width": 416,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -944,
        -160
      ],
      "typeVersion": 1,
      "id": "3415de21-080e-49f3-b404-3356564c0483",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f16a2b9-04c6-4c18-bac6-9a5599c73842",
              "name": "success_output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        -48
      ],
      "id": "7b3b30a3-1a44-4264-b657-f9dd2e70b8b0",
      "name": "success_output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a228abb5-9747-4b53-a115-3726bcab352d",
              "name": "error_output",
              "value": "=Error: {{ $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        160
      ],
      "id": "8dc82e4a-62b0-45ce-88d9-7a4e3f82570c",
      "name": "error_output"
    },
    {
      "parameters": {
        "chatId": "={{ $('unified_params').item.json.error_chat_id }}",
        "text": "=Error from Agent: {{ $json.error_output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        768,
        160
      ],
      "id": "eddabf2d-c468-4661-82c3-f9bb6b6ace36",
      "name": "reply_to_error_chat",
      "webhookId": "ffd76e94-2e0e-4ade-929a-a4e7793e8bfe",
      "credentials": {
        "telegramApi": {
          "id": "Sdy1FOofrc0OWcsR",
          "name": "error_notification_af_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('unified_params').item.json.chat_id }}",
        "text": "={{ $json.success_output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        768,
        -48
      ],
      "id": "3028be26-85c8-46a4-a744-14aa5081f815",
      "name": "reply_to_respective_chat",
      "webhookId": "e3cbbb79-5184-45cb-af5e-6597111d800f",
      "credentials": {
        "telegramApi": {
          "id": "kDXnMTGRoyjROGu1",
          "name": "af_brain"
        }
      }
    },
    {
      "parameters": {
        "content": "## Parameters",
        "height": 480,
        "width": 304,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        -144
      ],
      "typeVersion": 1,
      "id": "0542af2f-89dd-4ce5-98a3-84847cb6a429",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "telegram_params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "success_output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error_output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "schedule_params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telegram_params": {
      "main": [
        [
          {
            "node": "unified_params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "schedule_params": {
      "main": [
        [
          {
            "node": "unified_params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "unified_params": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "success_output": {
      "main": [
        [
          {
            "node": "reply_to_respective_chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "error_output": {
      "main": [
        [
          {
            "node": "reply_to_error_chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "631b52db-1568-4f9a-8879-7c6d45c6c7b8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bb677185ec43a88b745168dffcf13a2d0bddaef952d1d5c7e51b047147430c24"
  },
  "id": "TCFuSdiymSaTyZUb",
  "tags": []
}